.App {
  text-align: center;
}

h1 {
  background-color: #ADD8E6;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 2vmin;
  padding-left: 2vmin;
}

.App-link {
  color: #000080;
}

.status_good{
	background-color:green
}
.status_bad{
	background-color:red
}

.chore-chart{
	display:block;
	border: 1px;
	border-color:black;
}
td{
	display: inline-table;
	width:40px;
	padding:5px;
}
