h1 {
	background-color: #ADD8E6;
	min-height: 10vh;
	display: flex;
	align-items: center;
	justify-content: left;
	font-size: calc(10px + 2vmin);
	color: white;
	padding-top: 2vmin;
	padding-left: 2vmin;
}

table{
	width:90%;
	padding:5 px;
	border:1px;
	border-color: black;
}

td{
	width:33%;
	padding:5px;
}

.status_good{
	background-color:green
}
.status_aging{
	background-color:yellow
}
.status_bad{
	background-color:red
}
